In [1]:

"""
Schema Change Report Generator
Jupyter Notebook for analyzing PostgreSQL schema changes between two timestamps
"""

import psycopg2
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

# Set plot style
sns.set_style("whitegrid")
plt.rcParams['figure.figsize'] = (12, 6)

In [ ]:
# pip install psycopg2-binary pandas matplotlib seaborn
# pip install openpyxl

In [2]:
# ============================================
# DATABASE CONNECTION CONFIGURATION
# ============================================

DB_CONFIG = {
    'host': 'localhost',
    'database': 'test_db',
    'user': 'jagdish_pandre',
    'password': '',
    'port': 5432
}

In [3]:
# START_TIME = '2025-11-12 18:12:50'
# END_TIME = '2025-11-12 18:25:50'

# START_TIME = '2025-11-12 18:13:39'
# END_TIME = '2025-11-12 18:18:55'
START_TIME = '2025-11-14 13:13:01'
END_TIME = '2025-11-14 14:51:46'

In [4]:
def get_connection():
    """Create database connection"""
    try:
        conn = psycopg2.connect(**DB_CONFIG)
        print("Database connection successful")
        return conn
    except Exception as e:
        print(f"Database connection failed: {e}")
        return None

conn = get_connection()

Database connection successful

In [5]:
# ============================================
# 1. EXECUTIVE SUMMARY
# ============================================

print("="*80)
print("SCHEMA CHANGE REPORT")
print(f"Period: {START_TIME} to {END_TIME}")
print("="*80)

query_executive_summary = """
SELECT 
    COUNT(DISTINCT snapshot_id) as total_snapshots,
    COUNT(DISTINCT schema_name) as schemas_affected,
    COUNT(DISTINCT object_type_name) as tables_affected,
    COUNT(DISTINCT object_subtype_name) as columns_affected,
    COUNT(*) as total_changes,
    MIN(processed_time) as first_change,
    MAX(processed_time) as last_change
FROM pdcd_schema.md5_metadata_tbl
WHERE processed_time BETWEEN %s AND %s;
"""

df_summary = pd.read_sql_query(query_executive_summary, conn, params=(START_TIME, END_TIME))

print("\n EXECUTIVE SUMMARY")
print("-" * 80)
for col in df_summary.columns:
    print(f"{col.replace('_', ' ').title()}: {df_summary[col].iloc[0]}")

================================================================================
SCHEMA CHANGE REPORT
Period: 2025-11-14 13:13:01 to 2025-11-14 14:51:46
================================================================================

 EXECUTIVE SUMMARY
--------------------------------------------------------------------------------
Total Snapshots: 6
Schemas Affected: 1
Tables Affected: 2
Columns Affected: 14
Total Changes: 29
First Change: 2025-11-14 13:13:01.047559
Last Change: 2025-11-14 14:51:45.474475

In [6]:
# ============================================
# 2. CHANGE TYPE BREAKDOWN
# ============================================

# query_change_breakdown = """
# SELECT 
#     change_type,
#     COUNT(*) as count,
#     ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER (), 2) as percentage
# FROM pdcd_schema.md5_metadata_tbl
# WHERE processed_time BETWEEN %s AND %s
# GROUP BY change_type
# ORDER BY count DESC;
# """
query_change_breakdown = """
SELECT 
    'CHANGE TYPE BREAKDOWN' as report_section,
    change_type,
    COUNT(*) as count,
    ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER (), 2) as percentage
FROM pdcd_schema.md5_metadata_tbl
WHERE processed_time BETWEEN %s AND %s
GROUP BY change_type
ORDER BY count DESC;
"""
df_change_types = pd.read_sql_query(query_change_breakdown, conn, params=(START_TIME, END_TIME))

print("\n CHANGE TYPE BREAKDOWN")
print("-" * 80)
print(df_change_types.to_string(index=False))

 CHANGE TYPE BREAKDOWN
--------------------------------------------------------------------------------
       report_section change_type  count  percentage
CHANGE TYPE BREAKDOWN       ADDED     15       51.72
CHANGE TYPE BREAKDOWN    MODIFIED     10       34.48
CHANGE TYPE BREAKDOWN     DELETED      4       13.79

In [7]:
# ============================================
# 3. CHANGES BY TABLE
# ============================================

query_changes_by_table = """
SELECT 
    schema_name,
    object_type_name as table_name,
    COUNT(*) as total_changes,
    COUNT(*) FILTER (WHERE change_type = 'ADDED') as added,
    COUNT(*) FILTER (WHERE change_type = 'MODIFIED') as modified,
    COUNT(*) FILTER (WHERE change_type = 'DELETED') as deleted,
    COUNT(*) FILTER (WHERE change_type = 'RENAMED') as renamed
FROM pdcd_schema.md5_metadata_tbl
WHERE processed_time BETWEEN %s AND %s
GROUP BY schema_name, object_type_name
ORDER BY total_changes DESC;
"""

df_by_table = pd.read_sql_query(query_changes_by_table, conn, params=(START_TIME, END_TIME))

print("\n CHANGES BY TABLE")
print("-" * 80)
print(df_by_table.to_string(index=False))

 CHANGES BY TABLE
--------------------------------------------------------------------------------
     schema_name  table_name  total_changes  added  modified  deleted  renamed
analytics_schema departments             15      7         5        3        0
analytics_schema   employees             14      8         5        1        0

In [8]:
# ============================================
# 4. DETAILED COLUMN ADDITIONS
# ============================================

query_additions = """
SELECT 
    snapshot_id,
    processed_time,
    schema_name,
    object_type_name as table_name,
    object_subtype_name as column_name,
    REGEXP_REPLACE(object_subtype_details, '.*data_type:([^,]+).*', '\\1') as data_type,
    REGEXP_REPLACE(object_subtype_details, '.*max_length:([^,]*),.*', '\\1') as max_length,
    REGEXP_REPLACE(object_subtype_details, '.*nullable:([^,]+).*', '\\1') as nullable,
    REGEXP_REPLACE(object_subtype_details, '.*default_value:([^,]*),.*', '\\1') as default_value,
    REGEXP_REPLACE(object_subtype_details, '.*ordinal_position:([0-9]+).*', '\\1') as position
FROM pdcd_schema.md5_metadata_tbl
WHERE processed_time BETWEEN %s AND %s
    AND change_type = 'ADDED'
ORDER BY processed_time, schema_name, object_type_name, object_subtype_name;
"""

df_additions = pd.read_sql_query(query_additions, conn, params=(START_TIME, END_TIME))

print("\n COLUMN ADDITIONS")
print("-" * 80)
if df_additions.empty:
    print("No columns added in this period.")
else:
    print(df_additions.to_string(index=False))

 COLUMN ADDITIONS
--------------------------------------------------------------------------------
 snapshot_id             processed_time      schema_name  table_name            column_name                                                                                                                                           data_type                                                                                                                                          max_length                                                                                                                                            nullable                                                                                                                                       default_value                                                                                                                                            position
           1 2025-11-14 13:13:01.047559 analytics_schema departments          department_id                                                                                                                                             integer                                                                                                                                                                                                                                                                                                      NO                                                                                 nextval('analytics_schema.departments_department_id_seq'::regclass)                                                                                                                                                   1
           1 2025-11-14 13:13:01.053514 analytics_schema departments        department_name                                                                                                                                   character varying                                                                                                                                                 100                                                                                                                                                  NO                                                                                                                                                                                                                                                                                                       2
           1 2025-11-14 13:13:01.053536 analytics_schema departments            budget_code                                                                                                                                   character varying                                                                                                                                                  20                                                                                                                                                 YES                                                                                                                                                                                                                                                                                                       3
           1 2025-11-14 13:13:01.053542 analytics_schema   employees            employee_id                                                                                                                                             integer                                                                                                                                                                                                                                                                                                      NO                                                                                     nextval('analytics_schema.employees_employee_id_seq'::regclass)                                                                                                                                                   1
           1 2025-11-14 13:13:01.053546 analytics_schema   employees             first_name                                                                                                                                   character varying                                                                                                                                                  50                                                                                                                                                 YES                                                                                                                                                                                                                                                                                                       2
           1 2025-11-14 13:13:01.053551 analytics_schema   employees              last_name                                                                                                                                   character varying                                                                                                                                                  50                                                                                                                                                 YES                                                                                                                                                                                                                                                                                                       3
           1 2025-11-14 13:13:01.053555 analytics_schema   employees          department_id                                                                                                                                             integer                                                                                                                                                                                                                                                                                                     YES                                                                                                                                                                                                                                                                                                       4
           1 2025-11-14 13:13:01.055954 analytics_schema departments       departments_pkey                                                        constraint_type:PRIMARY KEY,column_name:department_id,definition:PRIMARY KEY (department_id)                                                        constraint_type:PRIMARY KEY,column_name:department_id,definition:PRIMARY KEY (department_id)                                                        constraint_type:PRIMARY KEY,column_name:department_id,definition:PRIMARY KEY (department_id)                                                        constraint_type:PRIMARY KEY,column_name:department_id,definition:PRIMARY KEY (department_id)                                                        constraint_type:PRIMARY KEY,column_name:department_id,definition:PRIMARY KEY (department_id)
           1 2025-11-14 13:13:01.055982 analytics_schema   employees         employees_pkey                                                            constraint_type:PRIMARY KEY,column_name:employee_id,definition:PRIMARY KEY (employee_id)                                                            constraint_type:PRIMARY KEY,column_name:employee_id,definition:PRIMARY KEY (employee_id)                                                            constraint_type:PRIMARY KEY,column_name:employee_id,definition:PRIMARY KEY (employee_id)                                                            constraint_type:PRIMARY KEY,column_name:employee_id,definition:PRIMARY KEY (employee_id)                                                            constraint_type:PRIMARY KEY,column_name:employee_id,definition:PRIMARY KEY (employee_id)
           2 2025-11-14 13:13:55.925397 analytics_schema departments        chk_budget_code                                            constraint_type:CHECK,column_name:budget_code,definition:CHECK (budget_code::text ~ '^[A-Z0-9]+$'::text)                                            constraint_type:CHECK,column_name:budget_code,definition:CHECK (budget_code::text ~ '^[A-Z0-9]+$'::text)                                            constraint_type:CHECK,column_name:budget_code,definition:CHECK (budget_code::text ~ '^[A-Z0-9]+$'::text)                                            constraint_type:CHECK,column_name:budget_code,definition:CHECK (budget_code::text ~ '^[A-Z0-9]+$'::text)                                            constraint_type:CHECK,column_name:budget_code,definition:CHECK (budget_code::text ~ '^[A-Z0-9]+$'::text)
           2 2025-11-14 13:13:55.925402 analytics_schema departments     uq_department_name                                                              constraint_type:UNIQUE,column_name:department_name,definition:UNIQUE (department_name)                                                              constraint_type:UNIQUE,column_name:department_name,definition:UNIQUE (department_name)                                                              constraint_type:UNIQUE,column_name:department_name,definition:UNIQUE (department_name)                                                              constraint_type:UNIQUE,column_name:department_name,definition:UNIQUE (department_name)                                                              constraint_type:UNIQUE,column_name:department_name,definition:UNIQUE (department_name)
           2 2025-11-14 13:13:55.925407 analytics_schema   employees            fk_emp_dept constraint_type:FOREIGN KEY,column_name:department_id,definition:FOREIGN KEY (department_id) REFERENCES analytics_schema.departments(department_id) constraint_type:FOREIGN KEY,column_name:department_id,definition:FOREIGN KEY (department_id) REFERENCES analytics_schema.departments(department_id) constraint_type:FOREIGN KEY,column_name:department_id,definition:FOREIGN KEY (department_id) REFERENCES analytics_schema.departments(department_id) constraint_type:FOREIGN KEY,column_name:department_id,definition:FOREIGN KEY (department_id) REFERENCES analytics_schema.departments(department_id) constraint_type:FOREIGN KEY,column_name:department_id,definition:FOREIGN KEY (department_id) REFERENCES analytics_schema.departments(department_id)
           5 2025-11-14 14:46:58.994922 analytics_schema departments    uq_department_title                                                              constraint_type:UNIQUE,column_name:department_name,definition:UNIQUE (department_name)                                                              constraint_type:UNIQUE,column_name:department_name,definition:UNIQUE (department_name)                                                              constraint_type:UNIQUE,column_name:department_name,definition:UNIQUE (department_name)                                                              constraint_type:UNIQUE,column_name:department_name,definition:UNIQUE (department_name)                                                              constraint_type:UNIQUE,column_name:department_name,definition:UNIQUE (department_name)
           5 2025-11-14 14:46:58.994929 analytics_schema   employees fk_employee_department constraint_type:FOREIGN KEY,column_name:department_id,definition:FOREIGN KEY (department_id) REFERENCES analytics_schema.departments(department_id) constraint_type:FOREIGN KEY,column_name:department_id,definition:FOREIGN KEY (department_id) REFERENCES analytics_schema.departments(department_id) constraint_type:FOREIGN KEY,column_name:department_id,definition:FOREIGN KEY (department_id) REFERENCES analytics_schema.departments(department_id) constraint_type:FOREIGN KEY,column_name:department_id,definition:FOREIGN KEY (department_id) REFERENCES analytics_schema.departments(department_id) constraint_type:FOREIGN KEY,column_name:department_id,definition:FOREIGN KEY (department_id) REFERENCES analytics_schema.departments(department_id)
           6 2025-11-14 14:51:45.474439 analytics_schema   employees    chk_salary_positive                                                                   constraint_type:CHECK,column_name:employee_id,definition:CHECK (employee_id >= 1)                                                                   constraint_type:CHECK,column_name:employee_id,definition:CHECK (employee_id >= 1)                                                                   constraint_type:CHECK,column_name:employee_id,definition:CHECK (employee_id >= 1)                                                                   constraint_type:CHECK,column_name:employee_id,definition:CHECK (employee_id >= 1)                                                                   constraint_type:CHECK,column_name:employee_id,definition:CHECK (employee_id >= 1)

In [9]:
# ============================================
# 5. DETAILED COLUMN MODIFICATIONS
# ============================================

query_modifications = """
WITH current_changes AS (
    SELECT 
        snapshot_id,
        processed_time,
        schema_name,
        object_type_name,
        object_subtype_name,
        object_subtype_details,
        object_md5
    FROM pdcd_schema.md5_metadata_tbl
    WHERE processed_time BETWEEN %s AND %s
        AND change_type = 'MODIFIED'
),
previous_state AS (
    SELECT DISTINCT ON (cc.schema_name, cc.object_type_name, cc.object_subtype_name)
        cc.schema_name,
        cc.object_type_name,
        cc.object_subtype_name,
        m.object_subtype_details as old_details,
        m.processed_time as old_time
    FROM current_changes cc
    JOIN pdcd_schema.md5_metadata_tbl m 
        ON cc.schema_name = m.schema_name 
        AND cc.object_type_name = m.object_type_name
        AND cc.object_subtype_name = m.object_subtype_name
        AND m.processed_time < cc.processed_time
    ORDER BY cc.schema_name, cc.object_type_name, cc.object_subtype_name, m.processed_time DESC
)
SELECT 
    cc.snapshot_id,
    cc.processed_time,
    cc.schema_name,
    cc.object_type_name as table_name,
    cc.object_subtype_name as column_name,
    REGEXP_REPLACE(ps.old_details, '.*data_type:([^,]+).*', '\\1') as old_data_type,
    REGEXP_REPLACE(cc.object_subtype_details, '.*data_type:([^,]+).*', '\\1') as new_data_type,
    REGEXP_REPLACE(ps.old_details, '.*max_length:([^,]*),.*', '\\1') as old_max_length,
    REGEXP_REPLACE(cc.object_subtype_details, '.*max_length:([^,]*),.*', '\\1') as new_max_length,
    REGEXP_REPLACE(ps.old_details, '.*nullable:([^,]+).*', '\\1') as old_nullable,
    REGEXP_REPLACE(cc.object_subtype_details, '.*nullable:([^,]+).*', '\\1') as new_nullable
FROM current_changes cc
LEFT JOIN previous_state ps 
    ON cc.schema_name = ps.schema_name 
    AND cc.object_type_name = ps.object_type_name
    AND cc.object_subtype_name = ps.object_subtype_name
ORDER BY cc.processed_time, cc.schema_name, cc.object_type_name;
"""

df_modifications = pd.read_sql_query(query_modifications, conn, params=(START_TIME, END_TIME))

print("\n COLUMN MODIFICATIONS")
print("-" * 80)
if df_modifications.empty:
    print("No columns modified in this period.")
else:
    # Create readable change descriptions
    changes = []
    for _, row in df_modifications.iterrows():
        change_desc = []
        if row['old_data_type'] != row['new_data_type']:
            change_desc.append(f"Type: {row['old_data_type']} → {row['new_data_type']}")
        if row['old_max_length'] != row['new_max_length']:
            change_desc.append(f"Length: {row['old_max_length']} → {row['new_max_length']}")
        if row['old_nullable'] != row['new_nullable']:
            change_desc.append(f"Nullable: {row['old_nullable']} → {row['new_nullable']}")
        changes.append('; '.join(change_desc) if change_desc else 'Other changes')
    
    df_modifications['changes'] = changes
    print(df_modifications[['processed_time', 'table_name', 'column_name', 'changes']].to_string(index=False))

 COLUMN MODIFICATIONS
--------------------------------------------------------------------------------
            processed_time  table_name     column_name                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       changes
2025-11-14 13:13:55.925285 departments department_name                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 Other changes
2025-11-14 13:13:55.925338   employees   department_id                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 Other changes
2025-11-14 13:13:55.925344   employees      first_name                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            Nullable: YES → NO
2025-11-14 13:34:23.498988 departments chk_budget_code                                                                                                                                                                                                                                                                                                    Type: constraint_type:CHECK,column_name:budget_code,definition:CHECK (budget_code::text ~ '^[A-Z0-9]+$'::text) → constraint_type:CHECK,column_name:budget_code,definition:CHECK (budget_code::text ~ '^[A-Z]{3}[0-9]{3}$'::text); Length: constraint_type:CHECK,column_name:budget_code,definition:CHECK (budget_code::text ~ '^[A-Z0-9]+$'::text) → constraint_type:CHECK,column_name:budget_code,definition:CHECK (budget_code::text ~ '^[A-Z]{3}[0-9]{3}$'::text); Nullable: constraint_type:CHECK,column_name:budget_code,definition:CHECK (budget_code::text ~ '^[A-Z0-9]+$'::text) → constraint_type:CHECK,column_name:budget_code,definition:CHECK (budget_code::text ~ '^[A-Z]{3}[0-9]{3}$'::text)
2025-11-14 13:34:23.499048   employees     fk_emp_dept Type: constraint_type:FOREIGN KEY,column_name:department_id,definition:FOREIGN KEY (department_id) REFERENCES analytics_schema.departments(department_id) → constraint_type:FOREIGN KEY,column_name:department_id,definition:FOREIGN KEY (department_id) REFERENCES analytics_schema.departments(department_id) ON DELETE CASCADE; Length: constraint_type:FOREIGN KEY,column_name:department_id,definition:FOREIGN KEY (department_id) REFERENCES analytics_schema.departments(department_id) → constraint_type:FOREIGN KEY,column_name:department_id,definition:FOREIGN KEY (department_id) REFERENCES analytics_schema.departments(department_id) ON DELETE CASCADE; Nullable: constraint_type:FOREIGN KEY,column_name:department_id,definition:FOREIGN KEY (department_id) REFERENCES analytics_schema.departments(department_id) → constraint_type:FOREIGN KEY,column_name:department_id,definition:FOREIGN KEY (department_id) REFERENCES analytics_schema.departments(department_id) ON DELETE CASCADE
2025-11-14 13:48:46.043964 departments department_name                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 Other changes
2025-11-14 13:48:46.044021   employees   department_id                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 Other changes
2025-11-14 14:46:58.994843 departments department_name                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 Other changes
2025-11-14 14:46:58.994875   employees   department_id                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 Other changes
2025-11-14 14:51:45.474365 departments department_name                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 Other changes

In [10]:
# ============================================
# 6. COLUMN DELETIONS
# ============================================

query_deletions = """
SELECT 
    snapshot_id,
    processed_time,
    schema_name,
    object_type_name as table_name,
    object_subtype_name as column_name,
    REGEXP_REPLACE(object_subtype_details, '.*data_type:([^,]+).*', '\\1') as data_type,
    REGEXP_REPLACE(object_subtype_details, '.*ordinal_position:([0-9]+).*', '\\1') as position
FROM pdcd_schema.md5_metadata_tbl
WHERE processed_time BETWEEN %s AND %s
    AND change_type = 'DELETED'
ORDER BY processed_time, schema_name, object_type_name;
"""

df_deletions = pd.read_sql_query(query_deletions, conn, params=(START_TIME, END_TIME))

print("\n COLUMN DELETIONS")
print("-" * 80)
if df_deletions.empty:
    print("No columns deleted in this period.")
else:
    print(df_deletions.to_string(index=False))

 COLUMN DELETIONS
--------------------------------------------------------------------------------
 snapshot_id             processed_time      schema_name  table_name         column_name                                                                                                                                                             data_type                                                                                                                                                              position
           4 2025-11-14 13:48:46.044092 analytics_schema   employees         fk_emp_dept constraint_type:FOREIGN KEY,column_name:department_id,definition:FOREIGN KEY (department_id) REFERENCES analytics_schema.departments(department_id) ON DELETE CASCADE constraint_type:FOREIGN KEY,column_name:department_id,definition:FOREIGN KEY (department_id) REFERENCES analytics_schema.departments(department_id) ON DELETE CASCADE
           4 2025-11-14 13:48:46.044107 analytics_schema departments  uq_department_name                                                                                constraint_type:UNIQUE,column_name:department_name,definition:UNIQUE (department_name)                                                                                constraint_type:UNIQUE,column_name:department_name,definition:UNIQUE (department_name)
           4 2025-11-14 13:48:46.044112 analytics_schema departments     chk_budget_code                                                       constraint_type:CHECK,column_name:budget_code,definition:CHECK (budget_code::text ~ '^[A-Z]{3}[0-9]{3}$'::text)                                                       constraint_type:CHECK,column_name:budget_code,definition:CHECK (budget_code::text ~ '^[A-Z]{3}[0-9]{3}$'::text)
           6 2025-11-14 14:51:45.474475 analytics_schema departments uq_department_title                                                                                constraint_type:UNIQUE,column_name:department_name,definition:UNIQUE (department_name)                                                                                constraint_type:UNIQUE,column_name:department_name,definition:UNIQUE (department_name)

In [11]:
# ============================================
# 7. COLUMN RENAMES -- //Can be optimized to show old and new names
# ============================================

query_renames = """
SELECT 
    snapshot_id,
    processed_time,
    schema_name,
    object_type_name as table_name,
    object_subtype_name as new_name,
    object_md5
FROM pdcd_schema.md5_metadata_tbl
WHERE processed_time BETWEEN %s AND %s
    AND change_type = 'RENAMED'
ORDER BY processed_time, schema_name, object_type_name;
"""

df_renames = pd.read_sql_query(query_renames, conn, params=(START_TIME, END_TIME))

print("\n COLUMN RENAMES")
print("-" * 80)
if df_renames.empty:
    print("No columns renamed in this period.")
else:
    print(df_renames.to_string(index=False))

 COLUMN RENAMES
--------------------------------------------------------------------------------
No columns renamed in this period.

In [13]:
# ============================================
# 8. CHRONOLOGICAL TIMELINE
# ============================================

query_timeline = """
SELECT 
    snapshot_id,
    processed_time,
    schema_name,
    object_type_name as table_name,
    object_subtype_name as column_name,
    change_type
FROM pdcd_schema.md5_metadata_tbl
WHERE processed_time BETWEEN %s AND %s
ORDER BY processed_time, snapshot_id, schema_name, object_type_name;
"""

df_timeline = pd.read_sql_query(query_timeline, conn, params=(START_TIME, END_TIME))

print("\n CHRONOLOGICAL TIMELINE")
print("-" * 80)
if df_timeline.empty:
    print("No changes in this period.")
else:
    # Add emoji indicators
    emoji_map = {
        'ADDED': '',
        'MODIFIED': '',
        'DELETED': '',
        'RENAMED': ''
    }
    df_timeline['change_indicator'] = df_timeline['change_type'].map(emoji_map)
    df_timeline['description'] = (df_timeline['change_indicator'] + ' ' + 
                                  df_timeline['change_type'] + ': ' +
                                  df_timeline['table_name'] + '.' + 
                                  df_timeline['column_name'])
    print(df_timeline[['processed_time', 'snapshot_id', 'description']].to_string(index=False))

 CHRONOLOGICAL TIMELINE
--------------------------------------------------------------------------------
            processed_time  snapshot_id                               description
2025-11-14 13:13:01.047559            1          ADDED: departments.department_id
2025-11-14 13:13:01.053514            1        ADDED: departments.department_name
2025-11-14 13:13:01.053536            1            ADDED: departments.budget_code
2025-11-14 13:13:01.053542            1              ADDED: employees.employee_id
2025-11-14 13:13:01.053546            1               ADDED: employees.first_name
2025-11-14 13:13:01.053551            1                ADDED: employees.last_name
2025-11-14 13:13:01.053555            1            ADDED: employees.department_id
2025-11-14 13:13:01.055954            1       ADDED: departments.departments_pkey
2025-11-14 13:13:01.055982            1           ADDED: employees.employees_pkey
2025-11-14 13:13:55.925285            2     MODIFIED: departments.department_name
2025-11-14 13:13:55.925338            2         MODIFIED: employees.department_id
2025-11-14 13:13:55.925344            2            MODIFIED: employees.first_name
2025-11-14 13:13:55.925397            2        ADDED: departments.chk_budget_code
2025-11-14 13:13:55.925402            2     ADDED: departments.uq_department_name
2025-11-14 13:13:55.925407            2              ADDED: employees.fk_emp_dept
2025-11-14 13:34:23.498988            3     MODIFIED: departments.chk_budget_code
2025-11-14 13:34:23.499048            3           MODIFIED: employees.fk_emp_dept
2025-11-14 13:48:46.043964            4     MODIFIED: departments.department_name
2025-11-14 13:48:46.044021            4         MODIFIED: employees.department_id
2025-11-14 13:48:46.044092            4            DELETED: employees.fk_emp_dept
2025-11-14 13:48:46.044107            4   DELETED: departments.uq_department_name
2025-11-14 13:48:46.044112            4      DELETED: departments.chk_budget_code
2025-11-14 14:46:58.994843            5     MODIFIED: departments.department_name
2025-11-14 14:46:58.994875            5         MODIFIED: employees.department_id
2025-11-14 14:46:58.994922            5    ADDED: departments.uq_department_title
2025-11-14 14:46:58.994929            5   ADDED: employees.fk_employee_department
2025-11-14 14:51:45.474365            6     MODIFIED: departments.department_name
2025-11-14 14:51:45.474439            6      ADDED: employees.chk_salary_positive
2025-11-14 14:51:45.474475            6  DELETED: departments.uq_department_title

In [14]:
# ============================================
# 9. HIGH-RISK CHANGES
# ============================================

query_high_risk = """
SELECT 
    processed_time,
    schema_name,
    object_type_name as table_name,
    object_subtype_name as column_name,
    change_type,
    CASE 
        WHEN change_type = 'DELETED' THEN ' CRITICAL: Column deleted - potential data loss'
        WHEN change_type = 'MODIFIED' THEN ' MEDIUM: Data type or constraint changed'
        WHEN change_type = 'RENAMED' THEN ' MEDIUM: Column renamed - update application code'
        ELSE ' LOW: Standard change'
    END as risk_level
FROM pdcd_schema.md5_metadata_tbl
WHERE processed_time BETWEEN %s AND %s
    AND change_type IN ('DELETED', 'MODIFIED', 'RENAMED')
ORDER BY 
    CASE 
        WHEN change_type = 'DELETED' THEN 1
        WHEN change_type = 'MODIFIED' THEN 2
        ELSE 3
    END,
    processed_time;
"""

df_high_risk = pd.read_sql_query(query_high_risk, conn, params=(START_TIME, END_TIME))

print("\n HIGH-RISK CHANGES")
print("-" * 80)
if df_high_risk.empty:
    print("No high-risk changes detected.")
else:
    print(df_high_risk.to_string(index=False))

 HIGH-RISK CHANGES
--------------------------------------------------------------------------------
            processed_time      schema_name  table_name         column_name change_type                                      risk_level
2025-11-14 13:48:46.044092 analytics_schema   employees         fk_emp_dept     DELETED  CRITICAL: Column deleted - potential data loss
2025-11-14 13:48:46.044107 analytics_schema departments  uq_department_name     DELETED  CRITICAL: Column deleted - potential data loss
2025-11-14 13:48:46.044112 analytics_schema departments     chk_budget_code     DELETED  CRITICAL: Column deleted - potential data loss
2025-11-14 14:51:45.474475 analytics_schema departments uq_department_title     DELETED  CRITICAL: Column deleted - potential data loss
2025-11-14 13:13:55.925285 analytics_schema departments     department_name    MODIFIED         MEDIUM: Data type or constraint changed
2025-11-14 13:13:55.925338 analytics_schema   employees       department_id    MODIFIED         MEDIUM: Data type or constraint changed
2025-11-14 13:13:55.925344 analytics_schema   employees          first_name    MODIFIED         MEDIUM: Data type or constraint changed
2025-11-14 13:34:23.498988 analytics_schema departments     chk_budget_code    MODIFIED         MEDIUM: Data type or constraint changed
2025-11-14 13:34:23.499048 analytics_schema   employees         fk_emp_dept    MODIFIED         MEDIUM: Data type or constraint changed
2025-11-14 13:48:46.043964 analytics_schema departments     department_name    MODIFIED         MEDIUM: Data type or constraint changed
2025-11-14 13:48:46.044021 analytics_schema   employees       department_id    MODIFIED         MEDIUM: Data type or constraint changed
2025-11-14 14:46:58.994843 analytics_schema departments     department_name    MODIFIED         MEDIUM: Data type or constraint changed
2025-11-14 14:46:58.994875 analytics_schema   employees       department_id    MODIFIED         MEDIUM: Data type or constraint changed
2025-11-14 14:51:45.474365 analytics_schema departments     department_name    MODIFIED         MEDIUM: Data type or constraint changed

In [15]:
# ============================================
# EXPORT OPTIONS
# ============================================

print("\n" + "="*80)
print("EXPORT OPTIONS")
print("="*80)

# Export to Excel
try:
    with pd.ExcelWriter(f'schema_change_report_{datetime.now().strftime("%Y%m%d_%H%M%S")}.xlsx') as writer:
        df_summary.to_excel(writer, sheet_name='Summary', index=False)
        df_change_types.to_excel(writer, sheet_name='Change Types', index=False)
        df_by_table.to_excel(writer, sheet_name='By Table', index=False)
        df_additions.to_excel(writer, sheet_name='Additions', index=False)
        df_modifications.to_excel(writer, sheet_name='Modifications', index=False)
        df_deletions.to_excel(writer, sheet_name='Deletions', index=False)
        df_renames.to_excel(writer, sheet_name='Renames', index=False)
        df_timeline.to_excel(writer, sheet_name='Timeline', index=False)
        df_high_risk.to_excel(writer, sheet_name='High Risk', index=False)
    print(" Excel report exported successfully")
except Exception as e:
    print(f" Excel export failed: {e}")

# Export to CSV
try:
    df_timeline.to_csv(f'schema_changes_{datetime.now().strftime("%Y%m%d_%H%M%S")}.csv', index=False)
    print(" CSV export successful")
except Exception as e:
    print(f" CSV export failed: {e}")

# Close connection
if conn:
    conn.close()
    print("\n Database connection closed")

print("\n" + "="*80)
print("REPORT GENERATION COMPLETE")
print("="*80)

================================================================================
EXPORT OPTIONS
================================================================================
 Excel report exported successfully
 CSV export successful

 Database connection closed

================================================================================
REPORT GENERATION COMPLETE
================================================================================